{% extends 'base.html.twig' %}
{% block body %}
    <h1>View book {{ book }}</h1>
    <a href="{{ path('book_index') }}">
        Back
    </a>
    <br>
    <table>
        <tbody>
            <tr>
                <td>Name</td>
                <td>{{ book.name }}</td>
            </tr>
            <tr>
                <td>Publication year</td>
                <td>{{ book.publicationYear }}</td>
            </tr>
            <tr>
                <td>ISBN</td>
                <td>{{ book.isbn }}</td>
            </tr>
            <tr>
                <td>Pages count</td>
                <td>{{ book.pagesCount }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Authors:</h2>
    {% if book.authors is not empty %}
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th colspan="3">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for author in book.authors %}
                <tr>
                    <td>{{ author }}</td>
                    <td>
                        <a href="{{ path('author_view', {id: author.id}) }}">
                            View
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('author_update', {id: author.id}) }}">
                            Update
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('author_delete', {id: author.id}) }}">
                            Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <span>No results found</span>
    {% endif %}
{% endblock %}